*~
*.pyc
__pycache__
.venv
static_files
media_files
localsettings.py
*.pdf
oak_utilities/ULONs/*.pdf
oak_utilities/ULONs/ULON - 2016-09-06 - 18-50-45.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 10-31-17.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 10-59-29.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-04-28.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-05-44.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-08-44.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-09-41.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-10-42.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-15-12.aux
oak_utilities/ULONs/ULON - 2016-09-19 - 11-15-12.log
oak_utilities/ULONs/ULON - 2016-09-19 - 11-15-12.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-15-12.tex
oak_utilities/ULONs/ULON - 2016-09-19 - 11-17-11.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-28-51.log
oak_utilities/ULONs/ULON - 2016-09-19 - 11-28-51.tex
oak_utilities/ULONs/ULON - 2016-09-19 - 11-32-08.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 11-48-18.pdf
oak_utilities/ULONs/ULON - 2016-09-19 - 12-48-48.pdf
oak_utilities/ULONs/ULON
*.bak
