Django==1.8.4
wheel==0.24.0
django-angular==0.7.15
distribute==0.7.3
pyBarcode==0.7
chemspipy==1.0.4
django-browserid==1.0.0
djangorestframework==3.2.3
django-filter==0.11.0
xkcd==2.3.1
# selenium
# Would need pytractor, but not available in pip for python 3
# https://github.com/mwalkowski/pytractor
