Django==2.0.13
wheel==0.24.0
django-angular==2.2 # Previously 0.7.15
pyBarcode==0.7
chemspipy==2.0.0
djangorestframework==3.9.2 # Previously 3.2.3
django-filter==0.11.0
xkcd==2.3.1
pylatex==0.8.0
django_templated_email==0.5
easy_thumbnails==2.6
django-image-cropping==1.0.3
django-braces==1.9.0
python-social-auth==0.2.21
django-browserid==1.0.0
plotly==2.0.6
pandas==0.20.1
django-allauth==0.34.0

# Only required until upgrading to Django 2.1
django-subquery==1.0.4

# For development
django-debug-toolbar==1.9.1

# For testing
pytest
pytest-django
coverage
pytest-cov
coveralls
