{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <!-- Enable responsive design (mobile friendly) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  
    <!-- Favicon that shows up in the browser tab -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />


    <title>
      {% block title %}{% endblock %} | Pok&eacutedex
    </title>

  </head>

	<h1>

	</h1>
</html>
