{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Sample List{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>Standards Library</h2>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <form method="get" action="." class="navbar-form pull-right">
	<div class="input-group">
	  <input type="text" class="input-small form-control search-query"
		 name="search" placeholder="Sample ID, Formula..."
		 {% if active_search == None %}
		 value=""
		 {% else %}
		 value="{{ active_search }}"
		 {% endif %}>
	  <span class="input-group-btn">
	    <input type="submit" class="btn btn-default" value="Search">
	  </span>
	</div>
      </form>
    </div>
  </div>
</div>
<a href="{% url 'add_sample' %}" class="btn btn-default">
	<span class="glyphicon glyphicon-plus"></span> Add Sample
</a>

{% if samples %}
<table class="table chemical-list">
  <tr>
	<th>Formula</th>
	<th>Date Completed</th>
	<th>Analysis</th>
  </tr>

	{% for sample in samples %}
  <tr>
	<td>
      <a href="{{ sample.detail_url }}" title="Detailed information on sample {{ sample.name }}">
        {{ sample.formula|formula_markup }}
        </a>
    </td>
	<td>{{ sample.end_date }}</td>
	<td>
	{% if sample.file_XRD %}<span class="icon-XRD XRD-active" title="X-Ray Diffraction"></span>{% else %}<span class="icon-XRD" title="X-Ray Diffraction"></span>{% endif %}
	{% if sample.file_EC %}<span class="icon-EC EC-active" title="Electrochemistry"></span>{% else %}<span class="icon-EC" title="Electrochemistry"></span>{% endif %}
	{% if sample.file_TEM %}<span class="icon-TEM TEM-active" title="Electron Microscopy"></span>{% else %}<span class="icon-TEM" title="Electron Microscopy"></span>{% endif %}
	{% if sample.file_TGA %}<span class="icon-TGA TGA-active" title="Thermogravimetric Analysis"></span>{% else %}<span class="icon-TGA" title="Thermogravimetric Analysis"></span>{% endif %}
	{% if sample.file_XAS %}<span class="icon-XAS XAS-active" title="X-Ray Absorption Spectroscopy"></span>{% else %}<span class="icon-XAS" title="X-Ray Absorption Spectroscopy"></span>{% endif %}
	</td>
  </tr>

	{% endfor %}
{% else %}
	<!-- No samples were found -->
	<div class="alert alert-warning no-chemicals">
  	No samples were found.
	</div>
{% endif %}
{% endblock %}
