{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Sample{% endblock %}

{% block content %}
<head>
	{{ form.media }}
</head>
<h2>
	Add New Sample
</h2>

<p>(<b>bold</b> = required)</p>
<div>
	<form enctype="multipart/form-data" name="{{ sample_form.form_name }}" id="add_sample_form" method="POST" action="" novalidate>
<!-- Prevents cross site request forgery -->
	{% csrf_token %}

<div class='row'>
	<div class='col-md-6'>
<dl>
{% for field in form %}
{%if forloop.counter|divisibleby:"12" %}
	</dl>	
	</div>
	<div class='col-md-6'>
	<dl>
{% endif %}
    <div class="fieldWrapper">
        <dt>{{ field.label_tag }}</dt>
		<dd>{{ field }}</dd>
			{% if field.auto_id == 'id_formula' %}
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with insert buttons"> 
			<div class="btn-group" role="group" aria-label="Insert Buttons">
				<button title="Insert superscript" type="button" id="superscript" class="btn btn-secondary" onclick="insertAtCaret('id_formula','^');return false;"><span class="glyphicon glyphicon-superscript"/></button>
				<button title="Insert subscript" type="button" id="subscript" class="btn btn-secondary" onclick="insertAtCaret('id_formula','_');return false;"><span class="glyphicon glyphicon-subscript"/></button>
				<button title="Insert hydrate" type="button" id="hydrate" class="btn btn-secondary" onclick="insertAtCaret('id_formula','|H_2O');return false;"><span class="glyphicon glyphicon-one-fine-dot"></span>H<sub>2</sub>O</button>
			</div>
			<div class="btn-group" role="group" aria-label="Second group">
			<button title='Clear' type="button" id="clear" class="btn btn-secondary" onclick="clearThis('id_formula')"><span class="glyphicon glyphicon-remove"/></button>
			</div>
		</div>
			{% endif %}
			{% if field.auto_id == 'id_experiment_equation' %}
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with insert buttons"> 
			<div class="btn-group" role="group" aria-label="Insert Buttons">
				<button title="Insert superscript" type="button" id="superscript" class="btn btn-secondary" onclick="insertAtCaret('id_experiment_equation','^');return false;"><span class="glyphicon glyphicon-superscript"/></button>
				<button title="Insert subscript" type="button" id="subscript" class="btn btn-secondary" onclick="insertAtCaret('id_experiment_equation','_');return false;"><span class="glyphicon glyphicon-subscript"/></button>
				<button title="Insert hydrate" type="button" id="hydrate" class="btn btn-secondary" onclick="insertAtCaret('id_experiment_equation','\\cdot H_2O');return false;"><span class="glyphicon glyphicon-one-fine-dot"></span>H<sub>2</sub>O</button>		
				<button title="Insert Arrow" type="button" id="rightarrow" class="btn btn-secondary" onclick="insertAtCaret('id_experiment_equation','\\rightarrow');return false;"><span class="glyphicon glyphicon-arrow-right"/></button>
			</div>
			<div class="btn-group" role="group" aria-label="Second group">
			<button title='Clear' type="button" id="clear" class="btn btn-secondary" onclick="clearThis('id_experiment_equation')"><span class="glyphicon glyphicon-remove"/></button>
			</div>
		</div>

			{% endif %}
        {% for error in field.errors %}
			<p style="color:#FA0101">{{ error }}</p>
		{% endfor %}        
	{% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
</dl>
<input type="submit" value="Submit" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-primary" />
<a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
	</div>
</div>
</form>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<script>
    function clearThis(areaId){
	var target = document.getElementById(areaId);
        target.value= "";
    }
    </script>
<!-- From http://stackoverflow.com/questions/1064089/ -->
<script>
function insertAtCaret(areaId,text) {
    var txtarea = document.getElementById(areaId);
    var scrollPos = txtarea.scrollTop;
    var strPos = 0;
    var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
        "ff" : (document.selection ? "ie" : false ) );
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        strPos = range.text.length;
    }
    else if (br == "ff") strPos = txtarea.selectionStart;

    var front = (txtarea.value).substring(0,strPos);  
    var back = (txtarea.value).substring(strPos,txtarea.value.length); 
    txtarea.value=front+text+back;
    strPos = strPos + text.length;
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        range.moveStart ('character', strPos);
        range.moveEnd ('character', 0);
        range.select();
    }
    else if (br == "ff") {
        txtarea.selectionStart = strPos;
        txtarea.selectionEnd = strPos;
        txtarea.focus();
    }
    txtarea.scrollTop = scrollPos;
}
</script>
</div>
{% endblock %}
