{% extends 'base.html' %}
{% load static %}

{% block title %}Coming Soon!{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 text-center">
    <h2>
      Coming Soon!
    </h2>
    <h3>
    This page is currently under development, but will be featured in the next update!
    </h3>
    </div><!-- /.row -->
   <div class="col-md-6">
   <p></p>
    <p>
        <b>You can expect features like:</b>
        <li>Generate and print an ULON from right here in the browser!</li>
        <li>Request an email notification when a channel becomes free on the cycler!</li>
        Any ideas? <b>Feel free to make suggestions!</b>
    </p>
    </div><!-- /.row -->
</div><!-- /.row -->

{% endblock %}
