{% extends 'base.html' %}
{% load static %}

{% block title %}Create an ULON{% endblock %}

{% block content %}

<h1>Create an ULON</h1>

<div class="row">
  <div class="col-md-7">

    <p>(<b>bold</b> = required)</p>

    <form action="" method="post" name="{{ form.form_name }}"
	  novalidate oak-form-validation>

      <!-- Prevents cross site request forgery -->
      {% csrf_token %}

      {% for field in form %}
        {% ifnotequal field.label hazards %}
    <table class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </table>
        {% else %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
        {% endifnotequal %}
{% endfor %}
      
      <!-- Form submission buttons -->
      <div class="oak-form-buttons">
	<button type="submit" class="btn btn-primary">Save</button>
	<a href=".." title="Return to Utilities"
	   class="btn btn-link">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
