{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Utilities{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <h2>
      Utilities
    </h2>
    <div class="col-md-12 col-md-offset-1 inventory-buttons">
        <p>
        Generate an Unattended Laboratory Operation Notice (ULON):
        </p> 
    <div class="col-md-12 col-md-offset-2">
	<a href="{% url 'make_ulon' %}" class="btn btn-primary">
	  Make an ULON</a>
      </div>
    </div>
    </div><!-- /.row -->
</div><!-- /.row -->

{% endblock %}
