{% load staticfiles %}
<!-- Navigation -->
  {% block nav %}

  <ul class="nav nav-tabs">
    <li{% if 'chemical_inventory' in request.path %} class="active"{% endif %}>
      <a href="/chemical_inventory/">
	{% if skynet %}
	<img class="inventory-icon" src="{% static 'globe.svg' %}" />
	{% else %}
	<img class="inventory-icon" src="{% static 'pokeball.svg' %}" />
	{% endif %}
	Chemical Inventory</a>
    </li>
    <li>
      <a href="{#% url %#}">
	<span class="glyphicon glyphicon-wrench"></span>
	Utilities
      </a>
    </li>
    <li>
      <a href="http://cabana.chem.uic.edu">
    <img src="{% static 'UICbattery.png' %}" class="inventory-icon" />
    Cabana Group Website</a>
    </li>
    <li {% if 'utilities' in request.path %} class='active'{% endif %}>
      <a href="/utilities/">
      <span class="glyphicon glyphicon-wrench"></span>
      Utilities
      </a>
    </li>
  </ul>
  {% endblock %}
