{% extends 'base.html' %}

{% block title %}{{ chemical.name }}{% endblock %}

{% block content %}
<h2>{{ chemical.name }}</h2>

<dl>
  <dt>Formula</dt>
  <dd>{{ chemical.formula }}</dd>

  <dt>CAS Number</dt>
  <dd>{{ chemical.cas_number }}</dd>

  <dt>NFPA Ratings</dt>
  <dd>Health: {{ chemical.health }}</dd>
  <dd>Flammability: {{ chemical.flammability }}</dd>
  <dd>Instability: {{ chemical.instability }}</dd>
  <dd>Special Hazards: {{ chemical.special_hazards }}</dd>

  <dt>Gloves</dt>
  <dd>{{ chemical.glove }}</dd>

</dl>

<p>
    <a href="{{ chemical.edit_url }}"
		title="Edit information for {{ chemical.name }}" class="btn btn-primary">
		Edit Information</a>
</p>

<img src="{{ chemical.structure_url }}" title="Chemical structure of {{ chemical.name }}" class=structure_display></img>

<h2>Containers</h2>

<table class="table">
  <th>Location</th>
  <th>Quantity</th>
  <th>Expiration Date</th>
  <th>Contact Person</th>
  {% for container in container_list %}
  <tr>
    <td>{{ container.location }}</td>
    <td>{{ container.quantity }} {{ container.unit_of_measure }}</td>
    <td>{{ container.expiration_date }}</td>
    <td>{{ container.owner.get_full_name }}</td>
	<td> <a href="{{ container.edit_url }}"
		title="Edit container of {{ chemical.name }}" > 
		Edit</a> </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
