{% extends 'base.html' %}
{% load custom_filters %}
{% load inventory_extras %}
{% block title %}{{ chemical.name }}{% endblock %}

{% block content %}
<h2>{{ chemical.name }}</h2>

<div class="row">
  <div class="col-sm-4">

    <p>
      <a href="{{ chemical.edit_url }}"
	 title="Edit chemical information for {{ chemical.name|lower }}"
	 class="btn btn-default">
	<span class="glyphicon glyphicon-pencil"></span>
	Edit Information
      </a>
      <a href="{% url 'chemical_list' %}" title="Return to list of chemicals"
	 class="btn btn-link">
	Back</a>
    </p>

    <dl>
      <dt>Formula</dt>
      <dd>{{ chemical.formula|formula_markup }}</dd>

      <dt>CAS Number</dt>
      <dd>{{ chemical.cas_number }}</dd>

      <dt>Gloves</dt>
      <dd>
	<ul>
	  {% for glove in chemical.gloves.all %}
	  <li>{{ glove.name }}</li>
	  {% endfor %}
	</ul>
      </dd>

    </dl>

    {% if chemical.safety_data_sheet %}
    <a href="{{ chemical.safety_data_sheet.url }}">
      <b>Material Safety Datasheet (SDS) for {{ chemical.name }}</b>
    </a>
    {% else %}
    Material Safety Datasheet (SDS) not available.
    {% endif %}

  </div>

  <div class="col-sm-4">
    {% nfpa_diamond chemical 160 %}
  </div>

  <div class="col-sm-4">
  {% if chemical.cas_number == "" %}
	<strong>Please enter a CAS number to display structure</strong>
  {% elif chemical.structure_url == "" %}
    <strong>Structure not available</strong>
  {% else %}
    <img src="{{ chemical.structure_url }}"
	 class="img-responsive"
	 title="Chemical structure of {{ chemical.name|lower }}"></img>
  {% endif %}
  </div>
</div>

<h2>Containers
  <a href="{% url 'add_container' %}?chemical_id={{ chemical.id }}"
     class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> Add chemical
  </a>
</h2>

<table class="table chemical-list">
  <th>Location</th>
  <th>Quantity</th>
  <th>Expiration Date</th>
  <th>Contact Person</th>
  <th class="text-center">Empty?</th>
  <th></th>
  {% for container in container_list %}
  <tr ng-controller="chemicalList"
      ng-init="chemicalId={{ container.pk }}; isEmpty={{ container.is_empty | lower }}"
      ng-class="{empty: isEmpty}">
    <td>{{ container.location }}</td>
    <td>{{ container.quantity }} {{ container.unit_of_measure }}</td>
    <td>{{ container.expiration_date }}
    {% if container.is_expired and container.is_empty == False %}
        <span class="glyphicon glyphicon-alert red_alert" title="This container has expired"></span>
    {% endif %}
    </td>
    <td>
      <a href="mailto:{{ container.owner.email }}"
	 title="Send {{ container.owner.get_short_name }} an email" >
	{{ container.owner.get_full_name }}</a>
    </td>
    <td class="text-center">
      <input type="checkbox"
	     ng-model="isEmpty" ng-change="updateStatus()">
    </td>
    <td>
      <a href="{{ container.edit_url }}"
	 title="Edit this container of {{ chemical.name|lower }}" >
	<span class="glyphicon glyphicon-pencil"></span>
	<!-- Edit -->
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
