{% extends 'base.html' %}
{% load custom_filters %}
{% load staticfiles %}
{% load inventory_extras %}
  {% if active_find %}
  ({{ active_find }})
  {% endif %}
{% block title %}{{ chemical.name }}{% endblock %}

{% block content %}
<h2>{{ chemical.name }}</h2>

<div class="row">
  <div class="col-sm-4">

    <p>
      <a href="{% url 'chemical_edit' pk=chemical.pk %}"
	 title="Edit chemical information for {{ chemical.name|lower }}"
	 class="btn btn-default">
	<span class="glyphicon glyphicon-pencil"></span>
	Edit Information
      </a>
    </p>

    <dl>
      <dt>Formula</dt>
      <dd>{{ chemical.formula|formula_markup }}</dd>

      <dt>CAS Number</dt>
      <dd>{{ chemical.cas_number }}</dd>

      <dt>GHS Hazards</dt>
      <dd>
	{% for hazard in chemical.ghs_hazards.all %}
	<img class="ghs-icon" src="{% static hazard.pictogram %}"
	     alt="{{ hazard.name }} Icon" title="{{ hazard.name }}" />
	{% endfor %}
      </dd>

      <dt>Gloves</dt>
      <dd>
	<ul>
	  {% for glove in chemical.gloves.all %}
	  <li>{{ glove.name }}</li>
	  {% endfor %}
	</ul>
      </dd>

      <dt>Safety Data Sheet</dt>
      <dd>
	{% if chemical.safety_data_sheet %}
	<a href="{{ chemical.safety_data_sheet.url }}">
	  <b>
	    <span class="glyphicon glyphicon-file"></span>
	    Safety Datasheet for {{ chemical.name }}</b>
	</a>
	{% else %}
	Safety Datasheet (SDS) not available.
	<a href="{% url 'chemical_edit' pk=chemical.pk %}" title="Edit chemical">
	  Upload one now?
	</a>
	{% endif %}
      </dd>

    </dl>

  </div>

  <div class="col-sm-4">
    {% nfpa_diamond chemical 160 %}
  </div>

  <div class="col-sm-4">
  {% if chemical.cas_number == "" %}
	<strong>Please enter a CAS number to display structure</strong>
  {% elif chemical.structure_url == None %}
    <strong>Structure not available</strong>
  {% else %}
    <img src="{{ chemical.structure_url }}"
	 class="img-responsive"
	 title="Chemical structure of {{ chemical.name|lower }}"></img>
  {% endif %}
  </div>
</div>

{% if chemical.sop %}
<div class="row">
  {% for sop in chemical.sop.all %}
  <div class="col-sm-12">
    {% if user in sop.verified_users.all %}
    <div class="alert alert-warning" role="alert" href="{{ sop.file.url }}">
      <strong>{{ sop.name }} Warning: </strong> You have been
      certified to use this SOP, but be careful!
      <a href="{{ sop.file.url }}" class="alert-link"
	 title="Download and review the {{ sop.name }} SOP">
	Click here to refresh your memory on
	the {{ sop.name }} SOP.</a>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ sop.name }} Warning: </strong>
      You have not completed the required training to use this chemical.
      <a href="{{ sop.file.url }}" class="alert-link" title="Download and review the {{ sop.name }} SOP">
	Read the SOP and get certified</a> before conducting any experiments.
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}

<h2>Containers
  <a href="{% url 'add_container' %}?chemical_id={{ chemical.id }}"
     class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> Add inventory
  </a>
</h2>

{% if container_list %}
{% include 'container_list.html' with perspective="chemical" %}
{% else %}
<!-- Notification to the user that no chemicals are added -->
<div class="alert alert-info">
  <span class="glyphicon glyphicon-info-sign"></span>
  {{ chemical.name }} has no containers. Please check to see if
  this chemical is in use in the lab.
</div>
{% endif %}
{% endblock %}
