{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
  Current Inventory
  {% if active_filter %}
  ({{ active_filter }})
  {% endif %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>Chemicals currently in your lab</h2>
    <p>
      <a href="{% url 'add_container' %}" class="btn btn-primary">
	Add chemical</a>
    </p>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <form method="get" action="." class="navbar-form pull-right">
	<div class="input-group">
	  <input type="text" class="input-small form-control search-query"
		 name="search" placeholder="Name, Formula, CAS..."
		 {% if active_search == None %}
		 value=""
		 {% else %}
		 value="{{ active_search }}"
		 {% endif %}>
	  <span class="input-group-btn">
	    <input type="submit" class="btn btn-default" value="Search">
	  </span>
	</div>
      </form>
      <p class="text-center">
	<a href="{% url 'element_search' %}"
	   title="Search for chemicals by element">
	  <span class="glyphicon glyphicon-th"></span>
	  Search by chemicals by element</a>
      </p>
    </div>
  </div>
</div>

<ul class="nav nav-tabs glossarytabs" id="glossary">
    <li{% if not active_filter %} class="active"{% endif %}>
        <a href="{% url 'chemical_list' %}?search={{ search }}" data-id="all" >All</a>
    </li>
    {% for filter in glossary_filters %}
    <li{% if filter == active_filter %} class="active"{% endif%}>
        <a href="{% url 'chemical_list' %}?filter={{ filter }}&search={{ search }}" data-id="{{ filter }}" >{{ filter }}</a>
    </li>
    {% endfor %}
</ul>

{% if object_list %}
<!-- Chemicals were found, so show them -->
{% include 'chemical_table.html' %}

{% else %}
<!-- No chemicals were found -->
<div class="alert alert-warning no-chemicals">
  No chemicals match your criteria. Please try another tab or search string.
</div>

{% endif %}

{% endblock %}
