{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Edit Chemical Container{% endblock %}

{% block content %}

<h1>Edit Chemical Container</h1>

<div class="row">
  <div class="col-md-6">

    <form action="." method="post" name="{{ form.form_name }}"
	  novalidate oak-form-validation>

      <!-- Prevents cross site request forgery -->
      {% csrf_token %}

      {{ form }}

      <!-- Form submission buttons -->
      <div class="oak-form-buttons">
	<button type="submit" class="btn btn-primary"
		ng-disabled="{{ form.form_name }}.$invalid">Save</button>
	<a href="{{ container.detail_url }}" title="Return to chemical details"
	   class="btn btn-link">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}
