{% extends 'main.html' %}
{% load custom_filters %}
{% load staticfiles %}

{% block title %}Add Inventory{% endblock %}

{% block content %}

<h2>
  Add to Inventory
</h2>

<!-- Save and cancel buttons; loaded via angular ng-include -->
<script type="text/ng-template" id="save-buttons">
  <p class="add-container-buttons">
    <input type="submit" class="btn btn-primary" value="Add"
	   ng-click="save()"
	   ng-disabled="{{ chemical_form.form_name }}.$invalid || {{ container_form.form_name }}.$invalid"
	   />
    <a href="{% url 'chemical_list' %}" class="btn btn-link">Cancel</a>
  </p>
</script>

<div ng-controller="addContainer" oak-add-container class="ng-cloak">

  <!-- <div ng-include="'save-buttons'"></div> -->

  <!-- Prevents cross site request forgery -->
  {% csrf_token %}

  <div class="row">

    <div class="col-md-6">

      <form name="{{ chemical_form.form_name }}" ng-disabled="true" novalidate>

	<div class="panel panel-primary existing-chemical-panel">

	  <div class="panel-heading">Search for Existing Chemicals</div>

	  <div class="panel-body">
	    <div class="row">

	      <div class="col-md-6">
		<div class="form-group">
		  <input type="text" class="form-control" autofocus
			 placeholder="Chemical name..."
			 ng-model="chemical_name" ng-model-options="{debounce: 1000}">
		</div>
	      </div>

	      <div class="col-md-6">
		<select multiple="1" class="form-control"
			ng-options="chemical.id as chemical.$displayName for chemical in matching_chemicals"
			ng-model="active_chemical_id">
		</select>
	      </div>

	    </div><!-- /row -->

	  </div><!-- panel-body -->

	</div><!-- /panel -->

	<hr />

	<p>(<b>bold</b> = required)</p>

	<div class="chemical-form">

	  {{ chemical_form }}

	</div>

      </form>

    </div>

    <div class="col-md-6 container-form-col">
	<form name="{{ container_form.form_name }}" novalidate>
	  {{ container_form }}
	</form>

      <div ng-include="'save-buttons'"></div>
    </div><!-- /.col-md-6 -->

  </div><!-- /.row -->

  <!-- Dialog for adding a new glove -->
  <div class="modal fade" id="glove-modal">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h4 class="modal-title">New Glove</h4>
	</div>
	<div class="modal-body">
	  <form name="{{ glove_form.form_name }}" novalidate>
	    {{ glove_form }}
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <button type="button" class="btn btn-primary" ng-click="addGlove()">Save glove</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Dialog for adding a new supplier -->
  <div class="modal fade" id="supplier-modal">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h4 class="modal-title">New Supplier</h4>
	</div>
	<div class="modal-body">
	  <form name="{{ supplier_form.form_name }}" novalidate>
	    {{ supplier_form }}
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <button type="button" class="btn btn-primary" ng-click="addSupplier()">Save supplier</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /[oak-add-container] -->

{% endblock %}
