{% extends 'main.html' %}
{% load custom_filters %}
{% load staticfiles %}

{% block title %}Add Inventory{% endblock %}

{% block content %}

<h2>
  Add to Inventory
</h2>

<!-- Save and cancel buttons; loaded via angular ng-include -->
<script type="text/ng-template" id="save-buttons">
  <p class="oak-form-buttons">
    <button type="submit" class="btn btn-primary"
	    ng-click="save({printLabel: true})"
	    ng-disabled="{{ chemical_form.form_name }}.$invalid || {{ container_form.form_name }}.$invalid" data-toggle="modal" data-target="#modalPrint"
	    >
      <span class="glyphicon glyphicon-barcode"></span>
      Add and Print Label</button>
    <button type="submit" class="btn btn-default"
	    ng-click="save()"
	    ng-disabled="{{ chemical_form.form_name }}.$invalid || {{ container_form.form_name }}.$invalid">
      <span class="glyphicon glyphicon-plus"></span>
      Add (no label)</button>
    <a href="{% url 'chemical_list' %}" class="btn btn-link">Cancel</a>
    <!-- <button type="submit" class="btn btn-success" -->
    <!-- 	    ng-click="redirect('http://www.google.com')">Redirect</button> -->
  </p>
</script>

<div ng-controller="addContainer" oak-add-container class="ng-cloak">

  <!-- <div ng-include="'save-buttons'"></div> -->

  <!-- Prevents cross site request forgery -->
  {% csrf_token %}

	<div class="row">

		<div class="col-md-6">

		<form name="{{ chemical_form.form_name }}" ng-disabled="true" novalidate>

			<div class="panel panel-primary existing-chemical-panel">

				<div class="panel-heading">Search for Existing Chemicals</div>

					<div class="panel-body">
						<div class="row">

							<div class="col-md-6">
								<div class="form-group">
								<input type="text" class="form-control" autofocus
								 placeholder="Chemical name..."
								 ng-model="chemical_name" ng-model-options="{debounce: 1000}">
								</div>
							</div>

							<div class="col-md-6">
							<select multiple="1" class="form-control"
							ng-options="chemical.id as chemical.$displayName for chemical in matching_chemicals"
							ng-model="active_chemical_id">
							</select>
						    </div>

					    </div><!-- /row -->

				</div><!-- panel-body -->

			</div><!-- /panel -->

			<hr />

			<p>(<b>bold</b> = required)</p>

			<div class="chemical-form">

				<!--{{ chemical_form }}-->
				{% for field in chemical_form %}
				<div class="fieldWrapper">
					<dt>{{ field.label_tag }}</dt>
						<dd>{{ field }}</dd>
							{% if field.auto_id == 'id_formula' %}
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with insert buttons" > 
								<div class="btn-group" role="group" aria-label="Insert Buttons">
									<button title="Insert superscript" type="button" id="btn_superscript" class="btn btn-secondary" onclick="insertAtCaret('id_formula','^');return false;"><span class="glyphicon glyphicon-superscript"/></button>
									<button title="Insert subscript" type="button" id="btn_subscript" class="btn btn-secondary" onclick="insertAtCaret('id_formula','_');return false;"><span class="glyphicon glyphicon-subscript"/></button>
									<button title="Insert hydrate" type="button" id="btn_hydrate" class="btn btn-secondary" onclick="insertAtCaret('id_formula','|H_2O');return false;"><i class="fa fa-circle" style="font-size:0.4em; vertical-align:middle"></i>H<sub>2</sub>O</button>
								</div>
								<div class="btn-group" role="group" aria-label="Second group">
									<button title='Clear' type="button" id="btn_clear" class="btn btn-secondary" onclick="clearThis('id_formula')"><span class="glyphicon glyphicon-remove"/></button>
								</div>
							</div>
							{% endif %}
				</div>
				{% endfor %}
			</div>
			</form>
			</div>

			<div class="col-md-6"> <!--This drops a gap between the bottom of chemical_form and top of container_form when in single column mode-->
				<p></p>
			</div>

			<div class="col-md-6 container-form-col">
			<form name="{{ container_form.form_name }}" novalidate>
				{{ container_form }}
			</form>

				<div ng-include="'save-buttons'"></div>
			</div><!-- /.col-md-6 -->

			</div><!-- /.row -->

  <!-- Dialog for adding a new glove -->
  <div class="modal fade" id="glove-modal">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h4 class="modal-title">New Glove</h4>
	</div>
	<div class="modal-body">
	  <form name="{{ glove_form.form_name }}" novalidate>
	    {{ glove_form }}
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <button type="button" class="btn btn-primary" ng-click="addGlove()">Save glove</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Dialog for adding a new supplier -->
  <div class="modal fade" id="supplier-modal">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h4 class="modal-title">New Supplier</h4>
	</div>
	<div class="modal-body">
	  <form name="{{ supplier_form.form_name }}" novalidate>
	    {{ supplier_form }}
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <button type="button" class="btn btn-primary" ng-click="addSupplier()">Save supplier</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /[oak-add-container] -->

<!-- Print Request Popup Modal-->
<div class="modal fade" id="modalPrint" tabindex="-1" role="dialog" aria-labelledby="modalPrintLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="col-lg-12 text-center">
					<i class="fa fa-print fa-5x"></i>
				</div>
        <h2 class="modal-title text-center" id="modalPrintLabel">Print Request Sent!</h2>
      </div>
      <div class="modal-body text-center">
        Your container has been added and a print request has been sent to the 4163SES label printer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    function clearThis(areaId){
	var target = document.getElementById(areaId);
        target.value= "";
    }
    </script>
<!-- From http://stackoverflow.com/questions/1064089/ -->
<script>
function insertAtCaret(areaId,text) {
    var txtarea = document.getElementById(areaId);
    var scrollPos = txtarea.scrollTop;
    var strPos = 0;
    var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
        "ff" : (document.selection ? "ie" : false ) );
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        strPos = range.text.length;
    }
    else if (br == "ff") strPos = txtarea.selectionStart;

    var front = (txtarea.value).substring(0,strPos);  
    var back = (txtarea.value).substring(strPos,txtarea.value.length); 
    txtarea.value=front+text+back;
    strPos = strPos + text.length;
    if (br == "ie") { 
        txtarea.focus();
        var range = document.selection.createRange();
        range.moveStart ('character', -txtarea.value.length);
        range.moveStart ('character', strPos);
        range.moveEnd ('character', 0);
        range.select();
    }
    else if (br == "ff") {
        txtarea.selectionStart = strPos;
        txtarea.selectionEnd = strPos;
        txtarea.focus();
    }
    txtarea.scrollTop = scrollPos;
}
</script>

{% endblock %}
