{% extends 'base.html' %}

{% block title %}Add Inventory{% endblock %}

{% block content %}

<h1>Add to Inventory</h1>

<div class="row">
  <div ng-controler="containerForm" class="col-md-6">

    <form>

      <!-- Prevents cross site request forgery -->
      {% csrf_token %}

      {{ chemical_form }}

      <hr />

      {{ container_form }}

      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'chemical_list' %}" class="btn btn-link">Cancel</a>

    </form>

  </div>
</div>

{% endblock %}
