{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chemical Inventory{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>
      Chemical Inventory
    </h2>
    <p>
      Welcome to the chemical inventory. You currenty have
      {{ inventory_size }} chemicals.
    </p>
    <div class="row inventory-buttons">
      <div class="col-md-4 col-md-offset-1 text-center">
	<a href="{% url 'add_container' %}" class="btn btn-primary">
	  <span class="glyphicon glyphicon-plus"></span>
	  Add chemical</a>
      </div>

      <div class="col-md-4 text-center">
	<a href="{% url 'chemical_list' %}" class="btn btn-default">
	  <span class="glyphicon glyphicon-list"></span>
	  View list of chemicals</a>
      </div>
    </div><!-- /.row -->

    <hr />

    {% if request.user.pk != None %}
    <div class="text-center" id="stretch">
    {% else %}
    <div class="text-center login_only" id="stretch">
    {% endif %}
      <form class="navbar-form" ng-submit="submit()" ng-controller="quickFind">
	<div class="input-group">
          <input type="number" ng-model="containerpk" class="form-control"
		 name="quick_empty" placeholder="Barcode number..." value=""/>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Find" />
	  </span>
	</div>
	{% if request.user.pk == None %}
	<p class="login_notify">You must be logged in to use this feature</p>
	{% endif %}
      </form>
    </div>
		  <div class="col-md-4 col-md-offset-3 text-center">
	<a href="{% url 'reports' %}" class="btn btn-default">
	  <span class="glyphicon glyphicon-blackboard"></span>
	  Reports</a>
      </div>
  </div><!-- /.col-md-6 -->
  <div class="col-md-6">
    <a href="http://xkcd.com" title="XKCD Website">
      <img src="{{ xkcd_url }}" title="{{ xkcd_alt }}" class="xkcd img-responsive"></img>
    </a>
  </div>
</div><!-- /.row -->

{% endblock %}
