{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chemical Inventory{% endblock %}

{% block content %}

<h2>
  Chemical Inventory
</h2>

<p>
  Welcome to the chemical inventory. You currenty have
  {{ inventory_size }} chemicals.
</p>
<div class="container no_padding">
<div class="row-float">

  <div class="col-md-2 col">
    <a href="{% url 'add_container' %}" class="btn btn-primary">
      Add chemical</a>
  </div>

  <div class="col-md-2 col">
    <a href="{% url 'chemical_list' %}" class="btn btn-default">
      View list of chemicals</a>
  </div>
</div>
	<img src="{{ xkcd_url }}" title="{{ xkcd_alt }}" width="40%" style="text-center"></img>

</div>
{% endblock %}
