<svg width="{{ size }}" height="{{ size }}" font-size="{{ font_size }}" class="nfpa-diamond">

  <!-- Health -->
  <polygon points="{{ health.points }}" style="{{ health.style }}">
    <title>Health Hazard</title>
  </polygon>
  <!-- Flammability -->
  <polygon points="{{ flammability.points }}" style="{{ flammability.style }}">
    <title>Flammability Hazard</title>
  </polygon>
  <!-- Instability -->
  <polygon points="{{ instability.points }}" style="{{ instability.style }}">
    <title>Instability Hazard</title>
  </polygon>
  <!-- Special Hazards -->
  <polygon points="{{ special_hazards.points }}" style="{{ special_hazards.style }}">
    <title>Special Hazard</title>
  </polygon>

  <!-- Show ratings as text -->
  <text {{ health.text_position }}>
    <title>Health Hazard</title>
    {% if health.rating != chemical.NFPA_NOT_AVAILABLE %}
    {{ health.rating }}
    {% endif %}
  </text>
  <text {{ flammability.text_position }}>
    <title>Flammability Hazard</title>
    {% if flammability.rating != chemical.NFPA_NOT_AVAILABLE %}
    {{ flammability.rating }}
    {% endif %}
  </text>
  <text {{ instability.text_position }}>
    <title>Instability Hazard</title>
    {% if instability.rating != chemical.NFPA_NOT_AVAILABLE %}
    {{ instability.rating }}
    {% endif %}
  </text>
  <text {% if special_hazards.rating == 'W' %}class="water-hazard" {% endif %}{{ special_hazards.text_position }}>
    <title>Special Hazard</title>{{ special_hazards.rating }}</text>

</svg>
