{% load staticfiles %}
{% load browserid %}
{% load custom_filters %}
<!DOCTYPE html>

<html ng-app="chemicalInventory">

  <head>

    <!-- Enable responsive design (mobile friendly) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    {% browserid_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!--MathJax Link-->

    <!-- Favicon that shows up in the browser tab -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />


    <title>
      {% block title %}{% endblock %} | Professor Oak
    </title>
  </head>

  <body>

    {% browserid_info %}
    <div class="container no_padding">
      <div class="row header">
	<div class="col-md-1">
	  <img src="{% static 'oak-sprite.png' %}"
	       class="img-responsive img-center" />
	</div>
	<div class="col-md-9">
	  <h1>
	    <a href="/" title="Return to frontpage">Professor Oak Lab Management</a>
	 </h1>
	</div>
	<div class="col-md-2">
	  <!-- Browser id login stuff -->
	  {% if user.is_authenticated %}
	  <p>Welcome, {{ user.first_name }}</p>
	  <ul class="auth-options">
	    {% if user.is_staff %}
	    <li><a href="/admin/" title="Administration site">Admin</a></li>
	    {% endif %}
	    <li>
	      {% browserid_logout text='Logout' %}
	    </li>
	  </ul>
	  {% elif request.GET.next %}
	    {% browserid_login text='Login' color='light' next=request.GET.next %}
	  {% else %}
	    {% browserid_login text='Login' color='light' next=request.path %}
	  {% endif %}
	</div>
      </div>

      {% include 'includes/navigation.html' %}

      <div class="main-content no_padding">
	{% block content %}{% endblock %}
      </div>

    </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% browserid_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>

    <!-- MathJax stuff -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
	  extensions: ["tex2jax.js"],
	  jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	  },
	  "HTML-CSS": { availableFonts: ["Arial"] }
      });
    </script>
    <script type="text/javascript" src="path-to-MathJax/MathJax.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- chemical_inventory angular files -->
    <script src="{% static 'inventory_ctrl.js' %}"></script>
    <script src="{% static 'inventory_directives.js' %}"></script>

  </body>

</html>
