{% load staticfiles %}
{% load browserid %}
{% load custom_filters %}
<!DOCTYPE html>

<html ng-app="chemicalInventory">

  <head>
    <base href="http://localhost:8000/">

    <!-- Enable responsive design (mobile friendly) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css">
    {% if skynet %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/cosmo/bootstrap.min.css">
    {% endif %}
    {% browserid_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chemical_inventory/periodic_table.css' %}">

    <!-- Favicon that shows up in the browser tab -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">

    <title>
      {% block title %}{% endblock %} | Professor Oak
    </title>

  </head>

  <body>

    <toaster-container></toaster-container>

    {% browserid_info %}
    <div class="container">
      <div class="row header">
	<div class="col-md-10">
	  <a href="/" title="Return to frontpage">
	    {% if skynet %}
	    <img src="{% static 'skynet.svg' %}"
		 class="oak-sprite" />
	    <h1>Skynet</h1>
	    {% else %}
	    <img src="{% static 'oak-sprite.png' %}"
		 class="oak-sprite" />
	    <h1>Professor Oak Lab Management</h1>
	    {% endif %}
	  </a>
	</div>
	<div class="col-md-2 current-user">
	  <!-- Browser id login stuff -->
	  {% if user.is_authenticated %}
	  <p class="text-center">Welcome,
	    <a href="{% url 'user_detail' pk=request.user.pk %}">
	      {{ user.first_name }}</a>
	  </p>
	  <div class="auth-options text-center">
	    {% if user.is_staff %}
	    <span class="btn btn-link"><a href="/admin/" title="Administration site">Admin</a></span>
	    {% endif %}
	    <span class="btn btn-link">
	      {% browserid_logout text='Logout' %}
	    </span>
	  </div>
	  {% elif request.GET.next %}
	    {% browserid_login text='Login' color='light' next=request.GET.next %}
	  {% else %}
	    {% browserid_login text='Login' color='light' next=request.path %}
	  {% endif %}
	</div>
      </div>

      {% include 'includes/navigation.html' %}

      <!-- Breadcrumb navigation -->
      {% if breadcrumbs %}
      <ol class="breadcrumb">
	<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
	{% for step in breadcrumbs %}
	<li><a href="{{ step.url }}">{{ step.name }}</a></li>
	<!-- {% if not forloop.last %} > {% endif %} -->
	{% endfor %}
      </ol>
      {% endif %}

      <div class="main-content">
	{% block content %}{% endblock %}
      </div>

    </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% browserid_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.js"></script>
    <script src="{% static 'djng/js/django-angular.min.js' %}"></script>

    <!-- chemical_inventory angular files -->
    <script src="{% static 'chemical_inventory/inventory_init.js' %}"></script>
    <script src="{% static 'chemical_inventory/inventory_services.js' %}"></script>
    <script src="{% static 'chemical_inventory/inventory_controllers.js' %}"></script>
    <script src="{% static 'chemical_inventory/inventory_directives.js' %}"></script>
    <script src="{% static 'chemical_inventory/inventory_filters.js' %}"></script>

	<!-- oak_utilities angular files -->
	<script src="{% static 'oak_utilities/utilities_controllers.js' %}"></script>

    <!-- Inject static url for angular template loading -->
    <script type="text/javascript">
      angular.module('chemicalInventory').factory('staticUrls', function() {
	  return {
	      root: '{% static '' %}',
	      nfpaDiamond: '{% static 'chemical_inventory/nfpa-diamond.html' %}',
	      ghsSymbolPicker: '{% static 'chemical_inventory/ghs-symbol-picker.html' %}',
	  };
      });
      angular.module('chemicalInventory').service('currentUser', function() {
	  var user = {};
	  {% if request.user.pk %}
	  user.pk = {{ request.user.pk }};
	  {% endif %}
	  return user;
      });
    </script>

  </body>

</html>
