{% extends 'base.html' %}
{% load static %}

{% block title %}Account Login{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="alert alert-success">
  <p>You are successfully logged in.</p>
  <p>
    <a href="/" title="Return home" class="btn btn-success">
      <span class="glyphicon glyphicon-home"></span>
      Home
    </a>
    <a href="/browserid/logout/'" title="Return home" class="btn btn-default">
      Logout
    </a>
  </p>
</div>
{% else %}
<div class="alert alert-info">
  <p>
    Please login to access protected areas of this site.
  </p>
  <p>

    {% comment %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}"
       title="Sign-in with Google">
      {% endcomment %}
      <img src="{% static 'btn_google_signin_dark_normal_web.png' %}" />
    </a>
  </p>
  <p>
     If you do not have an account, please contact Jordi Cabana
     (<a href="mailto:jcabana@uic.edu">jcabana@uic.edu</a>) for authorization.
  </p>
</div>
{% endif %}

{% endblock %}
